<app-navbar></app-navbar>
<br><br>


<div class="form" >
    <p class="register">Registration</p>
    <div class="double">
    <p>
        <mat-form-field appearance="standard">
          <mat-label>First name</mat-label>
          <input type="text" matInput required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
          <mat-label>Last name</mat-label>
          <input type="text" matInput required>
        </mat-form-field>
    </p>
</div>
<div class="single">

        
<p>
  <mat-form-field appearance="standard">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="adam@example.com" [formControl] = "email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</p>
<p>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="•••••••••" required>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="standard">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput placeholder="•••••••••" required>
    </mat-form-field>
</p>
</div>  
<div class="double">
    <p>
        <mat-form-field appearance="standard">
          <mat-label>Age</mat-label>
          <input type="number" matInput required>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
          <mat-label>Gender</mat-label>
          <input type="text" matInput placeholder="Male, Female..." required>
        </mat-form-field>
    </p>
</div>
<br>
<div class="signup">
    <button mat-raised-button color="primary">Sign Up</button>
</div>

</div>
