.example-spacer {
    flex: 1 1 auto;
  }

.menuItem{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}

.icon{
    margin-top: 10px;
}

.dropMenu{
    margin-right: 20px;
}



nav{
    background-color: rgb(28, 28, 28);
    min-height: 85px;
    max-height: 90px;
}

mat-toolbar{
    padding-top: 20px;
}

