<app-navbar></app-navbar>
<br><br>

<form [formGroup]="loginForm" (ngSubmit)="onUserLogin()">

<div class="form">
    <p class="register">Login</p>
<div class="double">

<p>
    <mat-form-field appearance="standard">
        <mat-label style="color: white;">Enter your email</mat-label>
        <input type="text" matInput placeholder="adam@example.com" formControlName = "email" required>
    </mat-form-field>
</p>
</div>
<div class="double">
<p>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="•••••••••" formControlName = "password" required>
    </mat-form-field>
</p>
</div>
<br>
<div class="signup">
    <button type="submit" mat-raised-button color="primary">Login</button>
</div>

</div>
</form>

