.params{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchBut{
    max-width: 125px;
    margin-bottom: 1.34375em;
}

.search{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: auto;
    flex-direction: row;
    margin-top: 20vh;

    background-color: #0b0b0b;
    height: 20vh;
    border-radius: 10px;
    padding-right: 30px;
}

.mainText{
    color: white;
    text-align: center;
    font-size: 48px;
}